body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    transition: 0.4s;
    border: 1px solid black;
    width: 15rem;
    height: 13rem;
}
.card-body , .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-footer{
    height: 4rem;
}
.icon{
    width: 5rem;
}
.row{
    margin: 0;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.card-link{
   color: black;
   text-decoration: none;
}
.card-link:hover{
    color: chartreuse;
}
.card:hover{
    transform: scale(1.1);
}

